.responsive__table {
  max-width: 100%;
  overflow-x: auto;
}

.h-container {
  @include make-container();
  @include make-container-max-widths();
}

.sr-only {
  @include sr-only();
}

.h-content--right {
  text-align: right;
}

.h-content--centered {
  text-align: center;
}

.h-space--bottom {
}

.h-section--start {
  margin-top: $space--section;
}

.h-section--end {
  margin-bottom: $space--section;
}


.node-stats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
