$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1242px
);
//$grid-gutter-width: 26px;
//
//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1620px,
//);

// Font size
$rem-baseline: 20px;
$font-size--xxl: 3.5rem; //70px;
$font-size--xl: 2.5rem; //50px;
$font-size--l: 1.8rem; //36px;
//$font-size--m: 1.1666rem; //21px;
$font-size--default: 1rem; //20px;
$font-size--s: .9rem; //18px;
$font-size--xs: .55rem; //11px;

// Line height
$line-height--default: 1.5;

// Font
$font--regular: 400 $font-size--default 'Roboto', sans-serif;

// Colors
$color--white: #fff;
$color--default: #666;
$color--primary: #dc0067;
$color--secondary: #009ee0;
$color--tertiary: #f7f7f7;
//$color--quaternary: #80A5BA;
//$color--quaternary: #EEF4F9;
//$color--quinary: #efefef;
//$color--senary: #f1f1f1;
//$color--error: #AF042F;


// Abstände
$space--default: rem(28px);
$space--half: rem(14px);
$space--section: rem(70px);
$space--section-half: rem(45px);
$space--offset: rem((1600-1174)/2*-1px);

$border-radius--default: 3px;

// Z-Index
$zIndexes: (
        'base': 1,
        'stage-image': 30,
        'stage-overlay': 31,
        'nav': 50,
        'navDropdown': 51,
        'navCaret': 52,
        'navMetaDropdown': 60,
);

$hamburger-hover-opacity: 1;
$hamburger-layer-width: 49px;
$hamburger-layer-color: $color--primary;
$hamburger-types: (
  collapse,
);
