<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page/Default"/>
<body>

<f:section name="Top">
  <f:format.raw>
    <f:cObject typoscriptObjectPath="lib.nodecounter"/>
  </f:format.raw>
</f:section>

<f:section name="Content">
  <f:format.raw>
    <f:cObject typoscriptObjectPath="lib.content" data="{colPos:1}"/>
  </f:format.raw>
</f:section>

<f:section name="Footer">
  <div class="o-footer__inner">
    <div class="o-footer__logo">
      <img src="/typo3conf/ext/ffpi_theme/Resources/Public/Images/Logo.svg" width="60px" height="60px"/>
    </div>
    <div class="o-footer__nav">
      <f:render partial="Page/FooterNavigation" arguments="{'footerNavigation': footerNavigation}"/>
    </div>
    <div class="o-footer__language">
      <p>
        <a href="https://github.com/freifunk-pinneberg" class="a-btn a-btn--secondary a-btn--button">
          <f:image src="EXT:ffpi_theme/Resources/Public/Images/Icons/Github.svg"/>
          GitHub
        </a>
      </p>
      <f:render partial="Page/LanguageNavigation" arguments="{'languageNavigation': languageNavigation}"/>
    </div>
  </div>
</f:section>

</body>
</html>
