<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page/Default" />
<body>

<f:section name="Top">
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.donation" />
		<div class="headerWrap">
	</f:format.html>
	<f:render partial="Page/HeaderSimple" arguments="{_all}" />
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.nodecounter" />
		</div>
	</f:format.html>
</f:section>

<f:section name="Content">
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.content" data="{colPos:1}" />
	</f:format.html>
</f:section>

<f:section name="Footer">
	<f:format.html parseFuncTSPath="">
		<nav>
			<f:cObject typoscriptObjectPath="lib.footernavigation.10" />
		</nav>
        <f:cObject typoscriptObjectPath="lib.languageNavigation.10" />
	</f:format.html>
</f:section>

</body>
</html>