<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Page/Default"/>
<body>

<f:section name="Top">
    <f:format.raw><f:cObject typoscriptObjectPath="lib.nodecounter"/></f:format.raw>
</f:section>

<f:section name="Content">
    <f:format.raw><f:cObject typoscriptObjectPath="lib.content" data="{colPos:1}"/></f:format.raw>
</f:section>

<f:section name="Footer">
    <div class="logo">
        <f:image src="{ffpi_theme_header_logo_path}" maxWidth="60" maxHeight="60" />
    </div>
    <div class="nav">
        <f:render partial="Page/FooterNavigation" arguments="{'footerNavigation': footerNavigation}"/>
    </div>
    <div class="language">
        <a href="{ffpi_theme_footer_github_link}" class="github-button" rel="me">
            <f:image src="EXT:ffpi_theme/Resources/Public/Images/Icons/Github.svg"/>
            GitHub
        </a>
        <f:render partial="Page/LanguageNavigation" arguments="{'languageNavigation': languageNavigation}"/>
    </div>
</f:section>

</body>
</html>
