<header id="header" class="o-header">
    <div class="o-header__inner">
        <div class="o-header__logo">
            <f:image src="EXT:ffpi_theme/Resources/Public/Images/Logo.svg" class="logo"/>
            <p><span class="red">{ffpi_theme_header_title}</span><br>{ffpi_theme_header_subtitle}</p>
        </div>
        <div class="o-header__navigation">
            <f:render section="Top"/>
            <f:render partial="Page/TopNavigation" arguments="{'mainNavigation': mainNavigation, 'iconNavigation': iconNavigation}"/>
        </div>
    </div>
</header>
<article class="content" role="article">
    <f:render section="Content"/>
</article>
<footer class="footer">
    <f:render section="Footer"/>
</footer>