<header id="header" class="o-header">
  <div class="h-container">
    <div class="o-header__inner">
      <div class="o-header__logo">
        <f:image src="EXT:ffpi_theme/Resources/Public/Images/Logo.svg" class="logo"/>
        <div class="m-brand">
          <div class="m-brand__name">Freifunk Pinneberg</div>
          <div class="m-brand__slogan">Freies WLAN im Kreis Pinneberg</div>
        </div>
      </div>
      <div class="o-header__navigation">
        <f:render section="Top"/>
        <f:render partial="Page/TopNavigation"
                  arguments="{'mainNavigation': mainNavigation, 'iconNavigation': iconNavigation}"/>
      </div>
    </div>
  </div>
</header>
<main class="o-main">
    <article class="m-article" role="article">
      <f:render section="Content"/>
    </article>
</main>
<footer class="o-footer">
  <f:render section="Footer"/>
</footer>
