<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<nav class="m-nav-footer" id="footer-nav" itemscope itemtype="http://schema.org/SiteNavigationElement"
     role="navigation">
  <ul class="m-nav-footer__list m-nav-footer__list--1">
    <f:for each="{footerNavigation}" as="navCategory">
      <li class="m-nav-footer__item m-nav-footer__item--1">
        {navCategory.title}
        <ul class="m-nav-footer__list m-nav-footer__list--2">
          <f:for each="{navCategory.children}" as="page">
            <li class="m-nav-footer__item m-nav-footer__item--2">
              <a href="{page.link}" class="m-nav-footer__link m-nav-footer__link--2">{page.title}</a>
            </li>
          </f:for>
        </ul>
      </li>
    </f:for>
  </ul>
</nav>
</html>
