<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<nav class="m-nav-main" id="top-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation">
  <ul class="m-nav-main__list m-nav-main__list--1">
    <f:for as="item" each="{mainNavigation}" iteration="iteration">
      <f:if condition="{item.active}">
        <f:then>
          <li id="p{item.data.uid}" class="m-nav-main__item m-nav-main__item--1">
            <a href="{item.link}" class="m-nav-main__link m-nav-main_link--1 m-nav-main_link--active">{item.title}</a>
          </li>
        </f:then>
        <f:else>
          <li id="p{item.data.uid}" class="m-nav-main__item m-nav-main__item--1">
            <a href="{item.link}" class="m-nav-main__link m-nav-main_link--1">{item.title}</a>
          </li>
        </f:else>
      </f:if>
    </f:for>
  </ul>
  <ul class="m-nav-main__list m-nav-main__list--2">
    <f:for as="item" each="{iconNavigation}" iteration="iteration">
      <f:variable name="iconHtml">
        <f:if condition="{item.data.tx_ffpi_theme_icon}">
          <f:then>
            <f:image src="EXT:ffpi_theme/Resources/Public/Images/Icons/{item.data.tx_ffpi_theme_icon}" width="18"
                     height="18"/>
          </f:then>
        </f:if>
      </f:variable>
      <f:if condition="{item.active}">
        <f:then>
          <li id="p{item.data.uid}" class="m-nav-main__item m-nav-main__item--2">
            <a href="{item.link}" class="m-nav-main__link m-nav-main_link--2 m-nav-main_link--active">{iconHtml->f:format.raw()}
              {item.title}</a>
          </li>
        </f:then>
        <f:else>
          <li id="p{item.data.uid}" class="m-nav-main__item m-nav-main__item--2">
            <a href="{item.link}" class="m-nav-main__link m-nav-main_link--2">{iconHtml->f:format.raw()}
              {item.title}</a>
          </li>
        </f:else>
      </f:if>
    </f:for>
  </ul>
</nav>
</html>
