@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Mono:400,700|Roboto:400,700');

/* Allgemeines */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100%;
}

body {
    background-color: #f7f7f7;
    color: #666666;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100%;
    font-size: 20px;
}

img {
    max-width: 100%;
}

video {
    display: block;
    max-width: 100%;
    max-height: 720px;
    margin-left: auto;
    margin-right: auto;
}

/* Elemente */
a:link.button, a:link:visited.button, .button {
    display: inline-block;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #dc0067;
    box-shadow: 0px 10px 20px 0px rgba(220,0,103,0.2);
    font-family: "Roboto Condensed", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 3px;
    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
}

a:link.button.light, a:link:visited.button.light, .button.light {
    background-color: transparent;
    color: #dc0067;
    border: solid 2px #dc0067;
    box-shadow: none;
}

/* Fonts */
body, p {
    font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #dc0067;
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

a:link {
    color: rgb(0, 158, 224);
}

a:link:visited {
    color: rgba(0, 158, 224, 0.8);
}

/* Page Sections */

/* Header */
#header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

#header .inside {
    display: block;
    max-width: 1430px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

img.logo {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

body {
    padding-top: 100px;
}

div.pageLogo {
    display: inline-block;
    text-align: left;
    float: left;
    font-size: 16px;
}
div.pageLogo p {
    display: inline-block;
}
div.pageLogo .red {
    color: #dc0067;
    font-size: 36px;
    font-family: "Roboto Condensed", "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

div.tx-ffpi-nodecounter {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.node-stats {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.node-stats .current {
    font-family: "Roboto Mono", Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #dc0067;
}

.client-counter, .node-counter {
    display: inline-block;
}

div.navigation {
    display: inline-block;
    font-size: 18px;
    font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
}

nav {
    display: block;
    position: relative;
}

nav a:link, nav a:link:visited {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

nav a:link.active {
    color: #dc0067;
}

nav ul {
    display: inline;
    position: relative;
}

nav ul li {
    float: left;
    list-style: none;
    display: inline;
    padding: 5px;
}

/* Body */
article.content {
    display: block;
    width: 100%;
}

/* Content */
.contentElement {
    display: block;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.contentElement .inside {
    display: block;
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.ffpitheme_stage {
    background-color: #ffffff;
}
.ffpitheme_stage .left, .ffpitheme_stage .right {
    display: inline-block;
    max-width: 50%;
    vertical-align: top;
}
/* Footer */
footer.footer {
    background-color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    width: 100%;
}
