<f:layout name="default" />

<f:section name="top">
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.donation" />
		<div class="headerWrap">
	</f:format.html>
	<!--    <f:render partial="headerSimple" arguments="{title : '{data.title->f:format.raw()}', subtitle : '{data.subtitle->f:format.raw()}'}" /> -->
	<f:render partial="headerSimple" arguments="{title : 'Freifunk Pinneberg', subtitle : 'Freies WLAN im Kreis Pinneberg'}" />
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.nodecounter" />
		</div>
	</f:format.html>
</f:section>

<f:section name="content">
	<f:format.html parseFuncTSPath="">
		<f:cObject typoscriptObjectPath="lib.content" data="{colPos:1}" />
	</f:format.html>
</f:section>

<f:section name="footer">
	<f:format.html parseFuncTSPath="">
		<nav>
			<f:cObject typoscriptObjectPath="lib.footernavigation.10" />
		</nav>
	</f:format.html>
</f:section>