<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default"/>
<f:section name="Main">

    <div class="grid-cards">
        <f:for each="{media}" as="card">
            <section class="card">
                <div class="card-image">
                    <f:image image="{card}" width="200" height="200" />
                </div>
                <div class="card-content">
                    <h3>{card.title}</h3>
                    <p>
                        <f:format.nl2br>{card.description}</f:format.nl2br>
                    </p>
                    <p>
                        <f:link.typolink parameter="{card.link}"/>
                    </p>
                </div>
            </section>
        </f:for>
    </div>

</f:section>
</html>
