<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default"/>
<f:section name="Main">
  <div class="o-grid o-grid--2">
    <div class="o-grid__col m-cta">
      <h2 class="m-cta__headline">{data.header}</h2>
      <p class="m-cta__body">
        <f:format.nl2br>{data.bodytext}</f:format.nl2br>
      </p>
      <f:if condition="{data.pi_flexform.buttonText}">
        <f:then>
          <f:link.typolink parameter="{data.pi_flexform.buttonLink}" class="a-btn a-btn--primary">
            {data.pi_flexform.buttonText}
          </f:link.typolink>
        </f:then>
      </f:if>
    </div>
    <div class="o-grid__col o-grid__col--first">
      <f:if condition="{media.0}">
        <f:then>
          <f:image image="{media.0}"/>
        </f:then>
      </f:if>
    </div>
  </div>
</f:section>
</html>
