<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default"/>
<f:section name="Main">
    <div class="flex-box">
        <f:variable name="col1">
            <div class="flex-cell cell-2-col">
                <f:switch expression="{data.header_layout}">
                    <f:case value="2"><h2>{data.header}</h2></f:case>
                    <f:case value="3"><h3>{data.header}</h3></f:case>
                    <f:case value="4"><h4>{data.header}</h4></f:case>
                    <f:case value="5"><h5>{data.header}</h5></f:case>
                    <f:case value="100"></f:case>
                    <f:defaultCase><h1>{data.header}</h1></f:defaultCase>
                </f:switch>
                <p>
                    <f:format.nl2br>{data.bodytext}</f:format.nl2br>
                </p>
                <f:if condition="{data.pi_flexform.buttonText}">
                    <f:then>
                        <f:link.typolink parameter="{data.pi_flexform.buttonLink}" class="button solid">{data.pi_flexform.buttonText}</f:link.typolink>
                    </f:then>
                </f:if>
            </div>
        </f:variable>
        <f:variable name="col2">
            <div class="flex-cell cell-2-col">
                <f:if condition="{media.0}">
                    <f:then>
                        <f:image image="{media.0}" />
                    </f:then>
                </f:if>
            </div>
        </f:variable>
        <f:if condition="{data.layout} == 0">
            <f:then>
                <f:format.raw>{col1} {col2}</f:format.raw>
            </f:then>
            <f:else>
                <f:format.raw>{col2} {col1}</f:format.raw>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
