<f:layout name="Content/Default"/>
<f:section name="Main">
    <div class="left">
        <h1>{data.header}</h1>
        <p>
            <f:format.nl2br>{data.bodytext}</f:format.nl2br>
        </p>
        <f:if condition="{data.pi_flexform.buttonText}">
            <f:link.typolink parameter="{data.pi_flexform.buttonLink}" class="button">{data.pi_flexform.buttonText}</f:link.typolink>
        </f:if>

    </div>
    <div class="right">
        <f:if condition="{media.0}">
            <f:image image="{media.0}" maxWidth="656"/>
        </f:if>
    </div>
</f:section>
