<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default"/>
<f:section name="Main">
  <div class="o-grid o-grid--3">
    <f:for each="{media}" as="card">
      <section class="o-grid__col m-card">
        <div class="m-card__image">
          <f:image image="{card}"/>
        </div>
        <div class="m-card__content">
          <h3 class="m-card__headline">{card.title}</h3>
          <div class="m-card__body">
            <f:format.html>{card.description}</f:format.html>
          </div>
        </div>
      </section>
    </f:for>
  </div>
</f:section>
</html>
