<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Content/Default"/>
<f:section name="Main">
    <div class="o-grid o-grid--2">
      <div class="o-grid__col">
        <f:if condition="{media.0}">
          <f:then>
            <f:media file="{media.0}" class="video" id="video-c{data.uid}"/>
          </f:then>
          <f:else>
            &nbsp;
          </f:else>
        </f:if>
      </div>
      <div class="o-grid__col m-cta">
        <h2 class="m-cta__headline">{data.header}</h2>
        <p class="m-cta__body">
          <f:format.nl2br>{data.bodytext}</f:format.nl2br>
        </p>
        <a href="{media.0.publicUrl}"
           onclick="document.getElementById('video-c{data.uid}').play();return false;"
           class="a-btn a-btn--secondary">
          Video abspielen
        </a>
      </div>
  </div>
</f:section>
</html>
